<div class="fondo">
    <div class="container text-center">
        <div class="container text-center">
            <div class="row language">
                <div class="col-sm col-md">
                    <a href="https://nodejs.org/en/">
                        <div class="card">
                            <img src="/assets/img/nodejs.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Node.js</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm col-md">
                    <a href="https://flutter.dev/">
                        <div class="card">
                            <img src="/assets/img/flutter.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Flutter</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm col-md">
                    <a href="https://angular.io/">
                        <div class="card">
                            <img src="/assets/img/angular.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Angular</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm col-md">
                    <a href="https://laravel.com/">
                        <div class="card">
                            <img src="/assets/img/laravel.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Laravel</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm col-md">
                    <a href="https://developer.mozilla.org/es/">
                        <div class="card">
                            <img src="/assets/img/html.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">HTML</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm col-md">
                    <a href="https://jquery.com/">
                        <div class="card">
                            <img src="/assets/img/jquery.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Jquery</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm col-md">
                    <a href="https://developer.mozilla.org/es/docs/Web/CSS">
                        <div class="card">
                            <img src="/assets/img/css.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">CSS</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm col-md">
                    <a href="https://www.php.net/">
                        <div class="card">
                            <img src="/assets/img/php.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">PHP</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm col-md">
                    <a href="https://www.python.org/">
                        <div class="card">
                            <img src="/assets/img/python.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Python</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm col-md">
                    <a href="https://developer.android.com/">
                        <div class="card">
                            <img src="/assets/img/android_studio.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Android Studio</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm col-md">
                    <a href="https://www.typescriptlang.org/">
                        <div class="card">
                            <img src="/assets/img/typescript.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">TypeScript</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm col-md">
                    <a href="https://www.java.com/es/">
                        <div class="card">
                            <img src="/assets/img/java.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Java</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm col-md">
                    <a href="https://www.mysql.com/">
                        <div class="card">
                            <img src="/assets/img/mysql.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">MySQL</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm col-md">
                    <a href="https://www.mongodb.com/">
                        <div class="card">
                            <img src="/assets/img/mongodb.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">MongoDB</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm col-md">
                    <a href="https://www.oracle.com/">
                        <div class="card">
                            <img src="/assets/img/oracle.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Oracle</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm col-md">
                    <a href="https://www.sqlite.org/index.html">
                        <div class="card">
                            <img src="/assets/img/sqlite.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">SQLite</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>