<div class="fondo">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 style="color: #006eff; font-family: fantasy; margin-bottom: 40px;">SOBRE MÍ</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-5 col-lg-6" style="text-align: left; align-self: center;">
                <p>
                    Soy Bryan D. Arrivasplata Rojas, estudio la carrera de Ingeniería de Sistemas en la UNI, estoy cursando el décimo ciclo. Soy una persona muy proactiva, busco siempre estar en constante capacitación y de esta manera aplicar mis conocimientos en ayudar a otras personas o en el trabajo. Me gusta ver animes, salir a viajar degustando nuevas comidas típicas de cada zona, jugar con mi mascota y pasar tiempo con mis seres queridos.
                </p>
                <strong>Mi Perfil:</strong>
                <ul>
                    <li>Linkedin: <a href="https://www.linkedin.com/in/bryan-daniell-arrivasplata-rojas-156508213/">linkedin.com/in/bryan-daniell-arrivasplata-rojas-156508213/</a></li>
                    <li>Facebook: <a href="https://www.facebook.com/bryandaniell.arrivasplatarojas/">facebook.com/bryandaniell.arrivasplatarojas/</a></li>
                    <li>Instagram: <a href="https://www.instagram.com/bryandaniellarrivasplata/">instagram.com/bryandaniellarrivasplata/</a></li>
                    <li>Github: <a href="https://www.github.com/BryanDaniellAR">github.com/BryanDaniellAR</a></li>
                    <li>WebSite: <a href="https://www.bryanarrivasplata.com">bryanarrivasplata.com</a></li>
                    <li>Número de teléfono: +51 997767771 (Móvil)</li>
                    <li>Email: barojas@bryanarrivasplata.com</li>
                    <li>Cumpleaños: 15 de Febrero</li>
                </ul>
                <p>Solo queda por decir que el estudio haciendo lo que les gusta siempre trae sus recompensas, a seguir adelante.</p>
            </div>
            <div class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0" style="align-self: center;">
                <div class="container">
                    <img class="me" src="/assets/img/me.png" title="bryan"/>
                </div>
            </div>
            <p>
                Principales hobbies:
            </p>
            <div class="row" style="width: 100% !important;place-content: center;padding-right: 0px;padding-left: 0px;margin-left: 0px;margin-right: 0px;">
                <div class="card">
                    <img title="developer" src="https://andro4all.com/hero/2020/09/Desarrollo-de-juegos-para-Android.jpg?width=768&aspect_ratio=16:9&format=nowebp" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Developer</h5>
                        <p class="card-text">Desarrollar funciones</p>
                    </div>
                </div>
                <div class="card">
                    <img title="paladins" src="https://i.blogs.es/0ba3c2/paladins0/1366_2000.jpg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Paladins</h5>
                        <p class="card-text">Jugar videojuegos</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>